<h1>New Blog</h1>

<%= form_for(@blog, html: {multipart: true}) do |f| %>
	<p>
		<%= f.label(:text) %>
		<%= f.text_field(:text) %>
	</p>
	<p>
		<%= f.label(:avatar) %>
		<%= f.file_field(:avatar) %>
	</p>
	<p>
		<%= f.submit %>
	</P>
<% end %>